@font-face {
    font-family: "cic";
    src: url("fonts/simple-cat-font/Simplecat-d9xpV.otf");
    font-weight: 300;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap');


h1 {
    color:blue;
    font-family: "roboto";
    font-size: 45px;
    text-align: left;
    text-transform: capitalize;

}
h3{
    font-family: "roboto",sans-serif;
}
#bio-header{
    color: brown;
    font-size: 40px;
}
#animals-header{
    color:yellow;
    font-size: 25px;
}
html{
    font-size: large;
}
.animals{
    color: rgb(176, 47, 18);
    font-size: 60px;
    opacity: 35%;
    text-align: justify;
    line-height: 50px;
    font-weight: 900; 
    font-family: "Nunito Sans";
    margin: 30px 10px 25px 5px;
}
img {
    width: 320px;
    box-shadow: 3px 3px 10px black;
    margin: 1%;

}
.bold{
    font-weight: bold;  
    max-width: 75%;
}
.img-div{
    background-color: blue;
    
}
.light{
    background-color: skyblue;
    margin: 5px 10px;
    border: dotted 2px blue;
    padding: 10px 0 0 0;
}
#email{
    position: fixed;
    color: red;
    top: 10px;
    left: 20px;
}